/* Global Resets */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  body {
    background-image: url("../images/bg.png");
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    padding: 0 35px;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: #d8a3be;
    position:relative;
    line-height: 2;
    display: flex;
    flex-direction: column;
  }
  
  /* Top Container */
  .top-container {
    height:30vw;
    margin: 100px 90px;
    padding: 50px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(216, 163, 190, 0.5);
}

.right-contents img{
    flex: 1;
    max-width: 100%;
    height: auto;
    width: 70%;
    border-radius: 20px;
    border: 2px solid #d8a3be;

}

.left-contents{
    flex: 1;
  
}

  
  /* Middle Container */
  .middle-container {
    margin: 30px 0;
  }
    

  h2 {
    font-family: 'Sacramento', cursive;
    color: #d8a3be;
    font-size: 3rem;
    margin: 10px 0;
  }
  h1 {
    font-family: 'sans-serif', cursive;
    color: #d8a3be;
    font-size: 2rem;
    margin: 10px 0;
  }

  h3{
    font-family: 'Montserrat', sans-serif;
    color: #fb9bcb;
    margin: 0px;
  }
  h4 {
    font-family: 'Sacramento', cursive;
    color: #fb9bcb;
    font-size: 2rem;
    margin: 10px 0;
  }

  a{
    color: #a1f089;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 20px;
    text-decoration: none;
  }
  
  a:hover{
    color: #e9c243;
  }
  
  /* Skill Rows */
  .intro{
    width: 50%;
    margin: auto;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
  }
  .skill-row {
    width: 50%;
    margin: auto;
    text-align: left;
    position: relative;
    padding-bottom: 30px;
  }
  
.skill-row .code-skill {
    max-width: 30%;
    float: left;
}

.skill-row .boba {
    max-width: 24%;
    height: auto;
    float:right;  
}
  
  /* Contact Section */
  .contact-me {
    text-align: center;
    padding: 50px 0 0 0;
    line-height: 2;
  }
  
  .contact-me img {
    max-width: 100%;
    height: auto;
    padding: 20px;
  }
  
  .btn {
    background: #a47c55;
    background-image: -webkit-linear-gradient(top, #e9c243, #d861f0);
    background-image: -moz-linear-gradient(top, #e9c243, #d861f0);
    background-image: -ms-linear-gradient(top, #e9c243, #d861f0);
    background-image: -o-linear-gradient(top, #e9c243, #d861f0);
    background-image: -webkit-gradient(to bottom, #e9c243, #d861f0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
    -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
    box-shadow: 1px 1px 20px 0 #FFFFFF;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #FFFFFF 1px;
    background: #c49b72;
    background-image: -webkit-linear-gradient(top, #a1f089, #4891e4);
    background-image: -moz-linear-gradient(top, #a1f089, #4891e4);
    background-image: -ms-linear-gradient(top, #a1f089, #4891e4);
    background-image: -o-linear-gradient(top, #a1f089, #4891e4);
    background-image: -webkit-gradient(to bottom, #a1f089, #4891e4);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

  /* Footer */
  .bottom-container {
    color: #d861f0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
    line-height: 0.3rem;
  }
  
  .footer-link {
    color: #ff7eb3;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #a1f089;
  }
  
  hr {
    border: dotted #eae0d5 6px;
    border-bottom: none;
    width: 20%;
    margin: 10px auto; 
  }

  .solid-line{
    border: solid #f1d5e3 5px;
    border-bottom: none;
    width: 100%;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .middle-container,
    .intro,
    .skill-row,
    .skill-row .boba,
    .skill-row .code-skill {
        width: 100%; 
        max-width: none;
        font-weight: 400;
        font-size: 1rem;
        
    }

    .body{
      background-attachment: fixed;
    }

    .top-container {
      flex-direction: column;
      height: auto;
      margin: 70px 10px;
      padding: 20px;
  }

  .right-contents img {
      width: 75%;
      margin-bottom: 20px;
      margin-top: 20px;
  }

  .left-contents, .right-contents {
      width: 100%;
      text-align: center;
  }

  
    .skill-row .code-skill {
      max-width: 50%;
      float: left;
  }
  
  .skill-row .boba {
      max-width: 40%;
      float:right;  
  }
  
    h2 {
      font-size: 2.5rem;
    }
    h1{
      font-size: 2rem;;
    }
    h4{
      font-size: 1.6rem;;
    }
  
    h3 {
      font-size: 1.2rem;
      font-weight: bold;
    }

  }

  /*animation  */
.intro-ani {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
.intro-ani.visible {
    opacity: 3;
  }
.code-ani {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  
  .code-ani.visible {
    opacity: 3;
  }

  .boba-ani {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  .boba-ani.visible {
    opacity: 3;
  }

  .contact-ani {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  .contact-ani.visible {
    opacity: 3;
  }
  







  
  
