
/*ELEMENT*/
body{
  /*probperty in CSS*/
  margin: 0;
  text-align: center; /*(can only for parent)*/
/*  font-family: 'Merriweather', serif; */
  font-family:'Montserrat', sans-serif;
  font-size: .92rem;
  font-weight: 300;
  color: #d0acbe;
 
}

h1{
  margin: 20px auto 0 auto;
  /* if want to change width of element and still want to be center then use margin
  width: 20%;
  margin: 0 auto 0 auto; top left bottom right */
  font-family: 'Sacramento', cursive;
  font-size: 5rem; /*remember: 100% == 16px --> 90/16= 562.5% = 5.625em*/
  color: #a47c55;
  /*line-height: 2; line-heght specify without units*/
}

h2{
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  color: #a47c55;
  font-weight: 800;
  padding-bottom: 5px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #fb9bcb;
  padding-top: 20px;
}

a{
  color: #a47c55;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}
p{
  line-height: 2;
}

hr{
  border: dotted #eae0d5 6px;
  border-bottom: none;
  width: 4%; /*mean 4% of the page*/
  margin: 50px auto; /* tb lr*/
/*  color: #EAF6F6;
  width: 6px; */
}

/*CLASS*/
.top-container{
 /* background-color: #cab298; */
  position: relative;
  padding-top: 30px;

}

.middle-container{
  margin: 50px 0;
}

.bottom-container{
/*  background-color: #c49b72; */
  padding: 10px 0  0px; 
}

.skill-row{
  width: 50%;
  margin: 40px auto 40px auto;
  text-align: left;
  line-height: 1;
}

.code-skill{
  width: 31%;
  margin-right: 30px;
  float: left;
}

.boba{
  width: 30%;
  float: right;
  margin-left: 30px;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 10px auto 30px;
  padding: 10px 0;
}

.copyright{
  color: #a47c55;
  font-size: 0.75rem; /*75% of 16px (100%)*/
}
/*
.code-description{
  clear:left;
}
.boba-description{
  clear: right;
}

*/
.front-end{
  text-decoration: underline;

}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
  width: 10%;
  height: 12%;
}
.bottom-cloud{ /* relative to parent as top container, so set top-container to relative*/
  position: absolute;
  left: 250px;
  bottom: 300px;
  width: 10%;
  height: 12%;
}

.btn {
   background: #a47c55;
   background-image: -webkit-linear-gradient(top, #e9c243, #d861f0);
   background-image: -moz-linear-gradient(top, #e9c243, #d861f0);
   background-image: -ms-linear-gradient(top, #e9c243, #d861f0);
   background-image: -o-linear-gradient(top, #e9c243, #d861f0);
   background-image: -webkit-gradient(to bottom, #e9c243, #d861f0);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   padding: 15px;
   -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
   -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
   box-shadow: 1px 1px 20px 0 #FFFFFF;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #FFFFFF 1px;
   background: #c49b72;
   background-image: -webkit-linear-gradient(top, #a1f089, #4891e4);
   background-image: -moz-linear-gradient(top, #a1f089, #4891e4);
   background-image: -ms-linear-gradient(top, #a1f089, #4891e4);
   background-image: -o-linear-gradient(top, #a1f089, #4891e4);
   background-image: -webkit-gradient(to bottom, #a1f089, #4891e4);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
